.App,
.videosContainer {
  text-align: center;
}

.camera {
  margin: 5% auto;
  border-radius: 5%;
}

.video {
  display: none;
  margin: 5% auto;
  border-radius: 5%;
}

ul#navbar li {
  display: inline;
}
#navbar {
  list-style-type: none;
  margin: 0;
  padding: 10 0;
  overflow: hidden;
  background-color: #eeeeee;
}

ul#navbar li {
  float: left;
}

ul#navbar li a {
  display: block;
  color: #000000;
  font-weight: bold;
  padding: 8px 16px;
  text-decoration: none;
}

#navbar :hover {
  background-color: gray;
}

.row {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
}
